Выпускная квалификационная работа по курсу «Инженер данных (Data engineer Pro)»

Выполнила Власенкова Анна Андреевна

Задача: необходимо на основе данных с ftp.zakupki.gov.ru научиться определять группу, к которой относится контракт с кодом ОКПД-2 41, 42, 43, 71.1.

Группы могут быть следующими:

    1. Строительно-монтажные работы (СМР)
    2. Проектно-изыскательские работы (ПИР)
    3. Строительный надзор
    4. Подключение коммуникаций
    5. Прочее.

По ОКПД-2 контракты в общем случае должны разделяться так:
Строительно-монтажные работы (СМР) - 41, 42, 43(кроме нижеперечисленных)
Проектно-изыскательские работы (ПИР) - 41.1, 71.1
Подключение коммуникаций - 43.22
Строительный надзор – четкой группы нет.


Проблема: Далеко не всегда контракты указываются с нужным кодом, поэтому есть проблема как такие контракты "отловить" и определить в нужную группу.

Поэтому задача предполагает классификацию контрактов на основе объекта закупки, который сформулирован естественным языком. 
На основе этого на входе данные о контрактах. На выходе необходимо получить группу для каждого контракта.

Иногда контракт может относиться одновременно в несколько групп.

Разведочный анализ данных

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'fz.csv', sep=',', on_bad_lines='skip', header = None, encoding='utf-8', nrows=10000000)

C:\Users\anvla\AppData\Local\Temp\ipykernel_10736\2232484144.py:1: DtypeWarning: Columns (6,21,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'D:\ВКР\проект\fz\fz.csv', sep=',', on_bad_lines='skip', header = None, encoding='utf-8', nrows=10000000)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,1,1010101008321000006,211010101008301010100100100246820244,7707049388,"КРАСНОДАРСКИЙ ФИЛИАЛ ПАО \РОСТЕЛЕКОМ\""""",<НЕ ОПРЕДЕЛЕНО>,0101010083,"МО МВД РОССИИ \КОШЕХАБЛЬСКИЙ\""""",Республика Адыгея (Адыгея),18803020840390049244,...,2022-04-18,\N,<НЕ ОПРЕДЕЛЕНО>,\N,173380.50,0.00,"Изменение условий контракта, заключенного с ед...",<НЕ ОПРЕДЕЛЕНО>,Услуги по операциям с недвижимым имуществом,68.2
1,2,1010101008321000006,211010101008301010100100100246820244,7707049388,"ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО \РОСТЕЛЕКОМ\""""",78,0101010083,"МО МВД РОССИИ \КОШЕХАБЛЬСКИЙ\""""",Республика Адыгея (Адыгея),18803020840390049244,...,2022-04-18,\N,<НЕ ОПРЕДЕЛЕНО>,\N,173380.50,0.00,"Изменение условий контракта, заключенного с ед...",<НЕ ОПРЕДЕЛЕНО>,Услуги по операциям с недвижимым имуществом,68.2
2,3,1010101008321000007,211010101008301010100100100236820244,105076166,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ \МАН ...,01,0101010083,"МО МВД РОССИИ \КОШЕХАБЛЬСКИЙ\""""",Республика Адыгея (Адыгея),18803020840390049244,...,2022-04-19,\N,<НЕ ОПРЕДЕЛЕНО>,\N,221778.00,\N,<НЕ ОПРЕДЕЛЕНО>,<НЕ ОПРЕДЕЛЕНО>,Услуги по операциям с недвижимым имуществом,68.2
3,4,1010501691421000144,211010501691401050100101960012640323,6630008994,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ \КРУС...,66,0105016914,ГУ-РО ФОНДА СОЦИАЛЬНОГО СТРАХОВАНИЯ РОССИЙСКОЙ...,Республика Адыгея (Адыгея),39310030440139570323,...,2022-09-27,\N,<НЕ ОПРЕДЕЛЕНО>,281119.60,281119.60,0.00,<НЕ ОПРЕДЕЛЕНО>,<НЕ ОПРЕДЕЛЕНО>,"Оборудование компьютерное, электронное и оптич...",26.4
4,6,1010501691421000148,211010501691401050100101940012640323,7743763319,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ \МЕДИ...,77,0105016914,ГУ-РО ФОНДА СОЦИАЛЬНОГО СТРАХОВАНИЯ РОССИЙСКОЙ...,Республика Адыгея (Адыгея),39310030440139570323,...,\N,\N,<НЕ ОПРЕДЕЛЕНО>,120597.44,77785.15,0.00,<НЕ ОПРЕДЕЛЕНО>,<НЕ ОПРЕДЕЛЕНО>,"Оборудование компьютерное, электронное и оптич...",26.4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 27 columns):
 #   Column  Dtype
---  ------  -----
 0   0       int64
 1   1       int64
 2   2       object
 3   3       int64
 4   4       object
 5   5       object
 6   6       object
 7   7       object
 8   8       object
 9   9       object
 10  10      object
 11  11      object
 12  12      object
 13  13      object
 14  14      object
 15  15      object
 16  16      object
 17  17      object
 18  18      object
 19  19      object
 20  20      object
 21  21      object
 22  22      object
 23  23      object
 24  24      object
 25  25      object
 26  26      object
dtypes: int64(3), object(24)
memory usage: 2.0+ GB

In [6]:
df.describe()

                  0             1             3
count  1.000000e+07  1.000000e+07  1.000000e+07
mean   5.917836e+06  2.608305e+18  6.875152e+10
std    3.343914e+06  7.546709e+17  3.484893e+11
min    1.000000e+00  1.193000e+16  0.000000e+00
25%    3.110704e+06  2.141700e+18  3.662998e+09
50%    5.923932e+06  2.645305e+18  6.450028e+09
75%    8.815202e+06  3.253101e+18  7.730042e+09
max    1.167939e+07  4.920456e+18  3.168901e+14

In [7]:
df.dtypes

0      int64
1      int64
2     object
3      int64
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
dtype: object

In [8]:
df.isna().sum()

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25    1357
26    7727
dtype: int64

In [9]:
df.nunique()

0     10000000
1      7738302
2      4487568
3       513837
4       468607
5         1462
6       273719
7       147553
8         1479
9       422306
10        1794
11     3256944
12        2962
13        1472
14        2868
15        3496
16        2638
17        2461
18        3531
19        4951
20     3191689
21     4425092
22      644960
23        1060
24         353
25         304
26         625
dtype: int64

В связи с тем, что в качестве исходных данных была предложена таблица формата csv, в которой не были поименованы столбцы, выделение и именование столбцов проводилось по аналогии с шаблоном, представленным в приложении 2 Аттестационного задания.

При проведении предварительного анализа полученного датафрейма было выявлено больше двух столбцов форматы даты, которые могут иметь отношение к срокам исполнения контракта, в свзи с чем не представляется возможным точно определить продолжительность контракта.

Также было выявлено несколько столбцов, которые могут быть определены как стоимость контракта, следуя шаблону.
Так как настоящий проект носит исследовательский характер, для простоты был взят один из столбцов как подходящий для выражения значения стоимости контракта.

При реализации комерческого проекта такие детали необходимо уточнять у заказчика.

In [10]:
df_drop = df.drop([2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24], axis=1)

In [11]:
df_drop = df_drop.rename(columns={0: 'ID',
                                  1: 'CONTRACT_NUM',
                                  11: 'OBJECT_NAME',
                                  21: 'COST',
                                  25: 'DESCR',
                                  26: 'OKPD_NUM'})

In [12]:
df_drop.head()

,ID,CONTRACT_NUM,OBJECT_NAME,COST,DESCR,OKPD_NUM
0,1,1010101008321000006,<НЕ ОПРЕДЕЛЕНО>,173380.50,Услуги по операциям с недвижимым имуществом,68.2
1,2,1010101008321000006,<НЕ ОПРЕДЕЛЕНО>,173380.50,Услуги по операциям с недвижимым имуществом,68.2
2,3,1010101008321000007,<НЕ ОПРЕДЕЛЕНО>,221778.00,Услуги по операциям с недвижимым имуществом,68.2
3,4,1010501691421000144,На поставку специальных устройств для чтения «...,281119.60,"Оборудование компьютерное, электронное и оптич...",26.4
4,6,1010501691421000148,На поставку голосообразующих аппаратов для обе...,77785.15,"Оборудование компьютерное, электронное и оптич...",26.4

In [ ]:
df_drop.to_csv(r'df_drop.csv', index=False)

In [14]:
df_drop['OKPD_NUM'].value_counts().to_dict()

{21.2: 905819,
 35.1: 354452,
 35.3: 339801,
 32.5: 326758,
 10.5: 256506,
 36.0: 251014,
 61.1: 208926,
 10.1: 200553,
 10.8: 179712,
 20.5: 171742,
 19.2: 162092,
 10.3: 156261,
 1.1: 150302,
 10.7: 141070,
 22.2: 139471,
 '21.2': 134899,
 42.1: 132335,
 33.1: 121147,
 17.2: 117643,
 26.2: 116648,
 58.1: 115941,
 43.2: 112738,
 10.6: 112477,
 37.0: 103563,
 32.9: 95086,
 68.1: 93767,
 17.1: 93713,
 28.2: 91622,
 22.1: 90191,
 10.2: 84029,
 21.1: 80976,
 1.2: 80688,
 62.0: 79052,
 71.1: 76164,
 86.9: 75446,
 41.2: 74498,
 13.9: 74125,
 81.2: 73281,
 25.9: 73227,
 43.9: 72555,
 1.4: 71102,
 43.3: 67413,
 14.1: 66833,
 80.1: 65805,
 85.4: 65538,
 31.0: 62918,
 '32.5': 62724,
 10.4: 60455,
 20.4: 55400,
 56.2: 52973,
 68.2: 52953,
 35.2: 52261,
 20.1: 51729,
 26.6: 49768,
 26.5: 49547,
 71.2: 45934,
 25.7: 45715,
 38.1: 44563,
 68.3: 43960,
 53.1: 42582,
 '35.3': 42241,
 85.2: 41028,
 '35.1': 38356,
 84.2: 36717,
 20.2: 36671,
 45.2: 36394,
 42.9: 33962,
 27.4: 32967,
 49.3: 32560,
 '36.0': 31781,
 20.3: 31553,
 96.0: 30690,
 80.2: 30073,
 85.1: 29398,
 38.2: 28376,
 26.3: 27871,
 86.1: 27733,
 '61.1': 27103,
 29.3: 25446,
 28.1: 25358,
 '20.5': 25246,
 61.9: 24794,
 '19.2': 24764,
 29.1: 24244,
 86.2: 24211,
 95.1: 23823,
 58.2: 23576,
 53.2: 23526,
 90.0: 23477,
 42.2: 23334,
 18.1: 23290,
 27.3: 22962,
 81.1: 22688,
 '10.5': 22453,
 28.9: 21710,
 27.5: 21372,
 26.4: 20833,
 '26.2': 19405,
 '22.2': 19165,
 32.3: 18759,
 27.2: 18445,
 '33.1': 18402,
 '10.1': 17806,
 '<НЕ ОПРЕДЕЛЕНО>': 17553,
 '10.8': 17533,
 23.1: 17505,
 '17.2': 17033,
 16.2: 16919,
 13.2: 15544,
 '28.2': 15223,
 63.1: 15109,
 65.1: 14960,
 15.2: 14864,
 27.9: 14811,
 '43.2': 14758,
 '01.1': 14683,
 '32.9': 14655,
 8.9: 14636,
 27.1: 14520,
 '10.3': 14460,
 63.9: 13965,
 '22.1': 13930,
 85.3: 13785,
 52.2: 13676,
 93.2: 13474,
 3.1: 13322,
 '17.1': 13155,
 23.9: 12998,
 '37.0': 12592,
 43.1: 12473,
 '10.7': 12413,
 '86.9': 11971,
 5.1: 11832,
 61.2: 11670,
 74.9: 11481,
 '42.1': 11453,
 '14.1': 11341,
 6.2: 11282,
 26.7: 11274,
 '58.1': 11207,
 46.4: 11026,
 '62.0': 10868,
 '26.6': 10779,
 25.1: 10679,
 '10.6': 10594,
 '71.1': 10467,
 '85.4': 10226,
 '13.9': 10162,
 '25.9': 10032,
 93.1: 9707,
 81.3: 9662,
 24.2: 9557,
 '41.2': 9361,
 '31.0': 9110,
 '26.5': 9076,
 '43.3': 9062,
 24.1: 9043,
 '68.2': 8954,
 '81.2': 8782,
 '21.1': 8756,
 32.4: 8730,
 '53.1': 8726,
 11.0: 8722,
 23.4: 8694,
 84.1: 8659,
 23.6: 8474,
 64.1: 8449,
 '68.1': 8307,
 56.1: 8223,
 49.4: 8138,
 8.1: 8110,
 33.2: 8109,
 51.1: 8078,
 13.1: 8024,
 23.5: 8021,
 '43.9': 7967,
 '20.4': 7679,
 28.3: 7630,
 '10.2': 7507,
 '01.2': 7128,
 '45.2': 7077,
 '80.1': 7071,
 '71.2': 7062,
 30.9: 6809,
 46.1: 6346,
 '01.4': 6295,
 '25.7': 6189,
 '20.1': 6178,
 '20.2': 6103,
 25.2: 6028,
 '38.1': 5788,
 '56.2': 5633,
 82.3: 5563,
 47.7: 5426,
 '35.2': 5399,
 '10.4': 5359,
 '26.3': 5343,
 24.3: 5183,
 46.3: 5161,
 '27.4': 5055,
 16.1: 5003,
 2.4: 4896,
 '86.1': 4847,
 '84.2': 4741,
 '53.2': 4632,
 10.9: 4589,
 '90.0': 4571,
 41.1: 4564,
 46.7: 4513,
 '20.3': 4448,
 2.2: 4428,
 24.4: 4414,
 '68.3': 4271,
 '28.1': 4265,
 '80.2': 4110,
 55.1: 4055,
 29.2: 4042,
 '29.3': 4035,
 '95.1': 4022,
 '27.3': 3947,
 47.6: 3913,
 '81.1': 3905,
 88.9: 3772,
 '61.9': 3768,
 '29.1': 3745,
 26.1: 3729,
 '86.2': 3674,
 26.8: 3672,
 94.9: 3665,
 59.1: 3659,
 '58.2': 3641,
 95.2: 3604,
 14.3: 3592,
 72.1: 3588,
 23.3: 3562,
 1.3: 3524,
 49.5: 3511,
 '18.1': 3469,
 15.1: 3466,
 82.9: 3466,
 73.1: 3433,
 70.2: 3425,
 32.1: 3424,
 47.3: 3390,
 '28.9': 3348,
 '26.4': 3340,
 '96.0': 3339,
 '27.5': 3261,
 '42.9': 3258,
 75.0: 3238,
 '49.3': 3208,
 '38.2': 3184,
 '27.2': 3165,
 55.9: 3162,
 32.2: 3114,
 45.3: 3077,
 52.1: 2968,
 47.4: 2963,
 91.0: 2859,
 '52.2': 2848,
 94.1: 2761,
 '13.2': 2729,
 28.4: 2698,
 25.3: 2690,
 20.6: 2674,
 60.1: 2622,
 69.2: 2587,
 '46.4': 2489,
 77.3: 2473,
 46.5: 2427,
 '65.1': 2360,
 82.1: 2321,
 '27.9': 2304,
 '23.1': 2302,
 '16.2': 2298,
 79.1: 2248,
 '63.1': 2238,
 '74.9': 2213,
 '42.2': 2206,
 '85.2': 2186,
 '15.2': 2182,
 79.9: 2180,
 60.2: 2168,
 47.5: 2147,
 '27.1': 2130,
 '26.7': 2079,
 '93.2': 2002,
 '85.1': 1999,
 '32.3': 1965,
 '61.2': 1948,
 '23.9': 1913,
 30.3: 1854,
 72.2: 1849,
 39.0: 1796,
 46.6: 1763,
 61.3: 1730,
 '25.1': 1701,
 47.1: 1643,
 73.2: 1598,
 '24.2': 1567,
 '85.3': 1564,
 '63.9': 1561,
 '24.1': 1559,
 45.1: 1531,
 1.6: 1433,
 14.2: 1427,
 77.2: 1383,
 78.3: 1380,
 '13.1': 1367,
 30.1: 1306,
 77.1: 1304,
 '51.1': 1295,
 55.2: 1283,
 '06.2': 1283,
 '23.5': 1282,
 '05.1': 1275,
 24.5: 1262,
 '30.9': 1231,
 47.2: 1127,
 '49.4': 1124,
 3.2: 1109,
 '84.1': 1092,
 '08.9': 1085,
 '23.6': 1075,
 '10.9': 1070,
 '23.4': 1049,
 '33.2': 1008,
 '43.1': 1007,
 '03.1': 1001,
 '28.3': 990,
 '64.1': 951,
 '32.4': 943,
 5.2: 939,
 '25.2': 925,
 66.1: 919,
 2.1: 911,
 49.1: 907,
 '82.3': 899,
 '24.3': 891,
 '56.1': 889,
 66.2: 884,
 '93.1': 883,
 '81.3': 877,
 'Продукты пищевые': 841,
 '11.0': 841,
 30.2: 833,
 'Средства лекарственные и материалы, применяемые в медицинских целях': 829,
 74.2: 819,
 '08.1': 810,
 69.1: 803,
 74.1: 801,
 '55.1': 800,
 '24.4': 792,
 '72.1': 790,
 '16.1': 764,
 74.3: 755,
 46.9: 734,
 '79.1': 729,
 '47.7': 718,
 2.3: 712,
 23.2: 703,
 '02.2': 682,
 59.2: 626,
 '02.4': 622,
 '41.1': 622,
 25.4: 621,
 '46.7': 618,
 '15.1': 613,
 '52.1': 605,
 23.7: 594,
 '26.8': 590,
 '82.9': 580,
 '23.3': 577,
 '26.1': 572,
 '30.3': 560,
 '73.1': 552,
 1.7: 548,
 '14.3': 540,
 78.2: 521,
 49.2: 518,
 'Изделия готовые прочие': 511,
 47.9: 504,
 '29.2': 503,
 64.9: 493,
 '46.3': 487,
 '59.1': 482,
 '28.4': 467,
 '45.3': 464,
 '88.9': 443,
 '49.5': 438,
 99.0: 429,
 '47.3': 426,
 '95.2': 420,
 '20.6': 417,
 '47.6': 413,
 25.6: 408,
 '75.0': 403,
 '91.0': 401,
 '32.1': 401,
 '55.9': 387,
 '32.2': 384,
 '77.3': 374,
 '46.1': 358,
 '72.2': 358,
 'Услуги в области архитектуры и инженерно-технического проектирования, технических испытаний, исследований и анализа': 357,
 '25.3': 356,
 '79.9': 353,
 87.9: 329,
 '01.3': 320,
 '60.2': 313,
 64.2: 307,
 '47.5': 306,
 55.3: 306,
 '78.3': 302,
 '69.2': 302,
 '82.1': 286,
 '47.4': 279,
 50.4: 270,
 50.3: 264,
 51.2: 260,
 '14.2': 258,
 '47.1': 257,
 82.2: 251,
 '01.6': 249,
 '30.1': 240,
 '61.3': 237,
 '94.9': 236,
 6.1: 235,
 '60.1': 227,
 46.2: 224,
 'Электроэнергия, газ, пар и кондиционирование воздуха': 214,
 38.3: 213,
 '46.5': 192,
 'Продукция и услуги сельского хозяйства и охоты': 181,
 87.3: 180,
 '05.2': 178,
 '70.2': 178,
 '55.2': 176,
 '73.2': 175,
 84.3: 171,
 '45.1': 167,
 '46.6': 167,
 88.1: 165,
 77.4: 162,
 'Работы строительные специализированные': 161,
 '39.0': 160,
 '77.2': 159,
 '25.4': 155,
 13.3: 155,
 70.1: 154,
 '24.5': 152,
 '77.1': 147,
 'Вода природная; услуги по очистке воды и водоснабжению': 142,
 87.2: 140,
 '74.3': 139,
 '66.1': 135,
 '30.2': 126,
 9.1: 126,
 '03.2': 125,
 'Услуги в области образования': 125,
 '49.1': 124,
 50.2: 122,
 25.5: 117,
 'Услуги в области здравоохранения': 117,
 'Оборудование компьютерное, электронное и оптическое': 115,
 'Вещества химические и продукты химические': 111,
 18.2: 107,
 '23.2': 105,
 '74.1': 104,
 19.3: 102,
 '69.1': 102,
 '47.2': 101,
 '49.2': 100,
 '94.1': 98,
 'Сооружения и строительные работы в области гражданского строительства': 94,
 19.1: 94,
 '02.3': 92,
 'Услуги по водоотведению; шлам сточных вод': 84,
 '74.2': 84,
 45.4: 84,
 97.0: 84,
 98.1: 79,
 65.2: 79,
 47.8: 79,
 '59.2': 77,
 'Бумага и изделия из бумаги': 73,
 '55.3': 72,
 '46.9': 71,
 '51.2': 67,
 '02.1': 67,
 '66.2': 64,
 '25.6': 63,
 87.1: 62,
 '64.9': 62,
 'Услуги почтовой связи и услуги курьерские': 60,
 '50.4': 59,
 'Продукты программные и услуги по разработке программного обеспечения; консультационные и аналогичные услуги в области информационных технологий': 58,
 '64.2': 58,
 'Изделия резиновые и пластмассовые': 56,
 'Услуги по операциям с недвижимым имуществом': 56,
 'Услуги по обслуживанию зданий и территорий': 56,
 'Машины и оборудование, не включенные в другие группировки': 53,
 '78.2': 52,
 78.1: 50,
 '23.7': 50,
 30.4: 50,
 '47.9': 50,
 'Изделия металлические готовые, кроме машин и оборудования': 50,
 'Услуги по ремонту и монтажу машин и оборудования': 49,
 'Здания и работы по возведению зданий': 49,
 'Оборудование электрическое': 47,
 '38.3': 45,
 '50.3': 43,
 12.0: 43,
 '01.7': 43,
 'Кокс и нефтепродукты': 42,
 '50.2': 41,
 '99.0': 38,
 'Услуги по сбору, обработке и удалению отходов; услуги по утилизации отходов': 38,
 'Услуги телекоммуникационные': 38,
 7.2: 38,
 50.1: 37,
 'Услуги издательские': 36,
 'Услуги в области информационных технологий': 36,
 '78.1': 35,
 '06.1': 33,
 80.3: 33,
 '70.1': 32,
 '09.1': 31,
 '46.2': 29,
 'Услуги по обеспечению безопасности и проведению расследований': 29,
 '19.1': 27,
 'Услуги сухопутного и трубопроводного транспорта': 25,
 56.3: 24,
 'Мебель': 24,
 'Одежда': 24,
 '77.4': 23,
 'Услуги, связанные со спортом, и услуги по организации развлечений и отдыха': 23,
 'Текстиль и изделия текстильные': 22,
 '13.3': 22,
 'Услуги в области государственного управления и обеспечения военной безопасности, услуги в области обязательного социального обеспечения': 21,
 9.9: 21,
 'Услуги социальные без обеспечения проживания': 20,
 98.2: 19,
 '45.4': 19,
 64.3: 18,
 '87.9': 18,
 '82.2': 17,
 'Средства автотранспортные, прицепы и полуприцепы': 17,
 94.2: 16,
 'Услуги по оптовой и розничной торговле и услуги по ремонту автотранспортных средств и мотоциклов': 15,
 '50.1': 14,
 'Продукты минеральные неметаллические прочие': 13,
 'Услуги по складированию и вспомогательные транспортные услуги': 13,
 'Возможность изменения условий контракта предусмотрена документацией о закупке и контрактом, а в случае осуществления закупки у единственного поставщика (подрядчика, исполнителя) - контрактом': 12,
 '88.1': 11,
 'Древесина и изделия из дерева и пробки, кроме мебели; изделия из соломки и материалов для плетения': 10,
 '07.2': 9,
 'Услуги общественного питания': 9,
 '30.4': 9,
 '25.5': 8,
 'Услуги печатные и услуги по копированию звуко- и видеозаписей, а также программных средств': 8,
 '80.3': 8,
 '97.0': 8,
 '65.2': 8,
 '47.8': 7,
 7.1: 7,
 'Рыба и прочая продукция рыболовства и рыбоводства; услуги, связанные с рыболовством и рыбоводством': 7,
 '18.2': 7,
 'Услуги профессиональные, научные и технические, прочие': 7,
 '12.0': 7,
 '98.2': 6,
 '87.1': 6,
 'При увеличении по предложению заказчика предусмотренных контрактом (за исключением контракта, предметом которого является выполнение работ по строительству, реконструкции, капитальному ремонту, сносу объекта капитального строительства, проведению работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации)  количества товара, объема работы или услуги не более чем на десять процентов с учетом положений бюджетного законодательства Российской Федерации о возможности изменения цены контракта пропорционально дополнительному количеству товара, дополнительному объему работы или услуги исходя из установленной в контракте цены единицы товара, работы или услуги, но не более чем на десять процентов цены контракта': 6,
 '87.3': 6,
 'Продукция горнодобывающих производств прочая': 6,
 '19.3': 6,
 'Кожа и изделия из кожи': 6,
 'Услуги по оптовой торговле, кроме оптовой торговли автотранспортными средствами и мотоциклами': 6,
 'Услуги по ремонту компьютеров, предметов личного потребления и бытовых товаров': 6,
 'Услуги в области творчества, искусства и развлечений': 6,
 'Услуги персональные прочие': 6,
 'Услуги и работы, связанные с научными исследованиями и экспериментальными разработками': 5,
 'Средства транспортные и оборудование, прочие': 4,
 '84.3': 4,
 'Услуги по розничной торговле, кроме розничной торговли автотранспортными средствами и мотоциклами': 4,
 'Металлы основные': 4,
 66.3: 4,
 'Уголь': 3,
 92.1: 3,
 'P': 3,
 'N': 3,
 'Услуги в области телеи радиовещания': 2,
 'F': 2,
 '92.1': 2,
 'Услуги в области административного, хозяйственного и прочего вспомогательного обслуживания': 2,
 'Услуги по предоставлению мест для временного проживания': 2,
 'Услуги по страхованию, перестрахованию и негосударственному пенсионному обеспечению, кроме обязательного социального обеспечения': 2,
 'Услуги головных офисов; услуги консультативные в области управления предприятием': 2,
 '09.9': 2,
 '87.2': 2,
 'Изменение в соответствии с законодательством Российской Федерации регулируемых цен (тарифов) на товары, работы, услуги': 2,
 'Изменение условий контракта по согласованию сторон в части поставки товара, выполнения работ или оказания услуги при улучшении их по качеству, техническим и функциональным характеристикам по сравнению с качеством, техническими и функциональными характеристиками, указанными в контракте': 2,
 'Нефть и газ природный': 2,
 'Услуги общественных организаций': 2,
 'Услуги туристических агентств, туроператоров и прочие услуги по бронированию и сопутствующие им услуги': 2,
 92.2: 2,
 'Услуги юридические и бухгалтерские': 2,
 '62': 1,
 'Изменение условий контракта, не относящихся в соответствии с частью 1 статьи 95 Федерального закона к существенным условиям контракта': 1,
 'Услуги по предоставлению ухода с обеспечением проживания': 1,
 '98.1': 1,
 '56.3': 1,
 'Услуги по рекультивации и прочие услуги по утилизации отходов': 1,
 'Уменьшение цены контракта не более чем на десять процентов при изменении объема и (или) видов выполняемых работ по контракту, предметом которого является выполнение работ по строительству, реконструкции, капитальному ремонту, сносу объекта капитального строительства, проведению работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации, а также по контрактам, предусмотренным частями 16 (если контракт жизненного цикла предусматривает проектирование, строительство, реконструкцию, капитальный ремонт объекта капитального строительства), и 16.1 статьи 34 Федерального закона': 1,
 'E': 1,
 'Увеличение цены контракта не более чем на десять процентов при изменении объема и (или) видов выполняемых работ по контракту, предметом которого является выполнение работ по строительству, реконструкции, капитальному ремонту, сносу объекта капитального строительства, проведению работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации, а также по контрактам, предусмотренным частями 16 (если контракт жизненного цикла предусматривает проектирование, строительство, реконструкцию, капитальный ремонт объекта капитального строительства) и 16.1 статьи 34 Федерального закона': 1,
 '<НЕ РАСПРЕДЕЛЕНО>': 1,
 'Услуги финансовые, кроме услуг по страхованию и пенсионному обеспечению': 1,
 17.0: 1,
 'Услуги библиотек, архивов, музеев и прочие услуги в области культуры': 1,
 'Услуги, предоставляемые экстерриториальными организациями и органами': 1,
 65.3: 1,
 'Напитки': 1,
 '07.1': 1}

In [21]:
df_work = df_drop.loc[(df_drop['OKPD_NUM'].isin(['41.2', '41.1', '71.1', '43.1', '43.2', '43.3', '43.9', '42.1', '42.2', '42.9', '31.0', '23.4', '13.9', '25.9'])) &(df_drop['OBJECT_NAME'] != '<НЕ ОПРЕДЕЛЕНО>')]

In [22]:
grouped_data = df_work.groupby('OKPD_NUM')['OKPD_NUM'].value_counts()
grouped_data

OKPD_NUM  OKPD_NUM
13.9      13.9         80348
23.4      23.4          9646
25.9      25.9         80766
31.0      31.0         70313
41.1      41.1          4955
41.2      41.2         81033
42.1      42.1        142023
42.2      42.2         23677
42.9      42.9         36460
43.1      43.1         13113
43.2      43.2        122717
43.3      43.3         75332
43.9      43.9         73590
71.1      71.1         82553
Name: OKPD_NUM, dtype: int64

In [23]:
df_work = df_work.drop(['CONTRACT_NUM', 'COST', 'DESCR', 'ID'], axis=1)

In [24]:
df_work['OBJECT_NAME']  = df_work['OBJECT_NAME'].astype('string')
df_work['OKPD_NUM'] = df_work['OKPD_NUM'].astype('string')
df_work.dtypes

OBJECT_NAME    string
OKPD_NUM       string
dtype: object

In [25]:
df_work.isna().sum()

OBJECT_NAME    0
OKPD_NUM       0
dtype: int64

In [26]:
df_work.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 896526 entries, 82 to 9999954
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   OBJECT_NAME  896526 non-null  string
 1   OKPD_NUM     896526 non-null  string
dtypes: string(2)
memory usage: 20.5 MB

In [28]:
df_work.to_csv(r'D:\ВКР\проект\df_work.csv', index=False)